# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# path to output_data file      
path_output_data_file = "../output_data/cities.csv"
# Read the save csv file of weatherpy
weather_df=pd.read_csv(path_output_data_file)

vacation_df = weather_df.drop(columns=["Unnamed: 0"])
vacation_df.head(3)

,City,Cloudiness (%),Country,Date,Humidity (%),Lat,Lng,Max Temperature (F),Wind Speed (mph)
0,fairbanks,1,US,1588375226,29,64.84,-147.72,51.01,4.70
1,souillac,20,MU,1588375226,73,-20.52,57.52,75.20,9.17
2,busselton,44,AU,1588375227,41,-33.65,115.33,51.01,10.16

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Import Google developer API key
from api_keys import g_key
# Access maps with unique API key or Configure gmaps
gmaps.configure(api_key = g_key)

In [14]:
# Limit the number of row to 20 in vacation_df
cities_df= vacation_df.head(20)
   
# Use the Lat and Lng as locations and Humidity as the weight.

# locations
locations = cities_df[["Lat", "Lng"]].astype(float).head(20)

#Humidity as the weight

humidity = cities_df["Humidity (%)"].astype(float).head(20)
locations.head(3)

     Lat     Lng
0  64.84 -147.72
1 -20.52   57.52
2 -33.65  115.33

In [15]:
#jupyter nbextension enable --py gmaps
# Customize the size of the figure
figure_layout = {'width': '400px',
                 'height': '300px',
                 'border': '1px solid black',
                 'padding': '1px',
                 'margin': '0 auto 0 auto'}
# Create a humidity Heatmap layer 
fig = gmaps.figure(layout= figure_layout)
# Assign the heatmap layer to a variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)
# Add the heatmap layer to the map

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the DataFrame to find your ideal weather condition. For example:
* A max temperature lower than 80 degrees but higher than 70.
* Wind speed less than 10 mph.
* Zero cloudiness.
* Drop any rows that don't contain all three conditions. 
* You want to be sure the weather is ideal

In [6]:

new_vacation_df=vacation_df.drop(columns=["Country", "Date", "Humidity (%)", "Lat", "Lng"])

ideal_weather = new_vacation_df[(new_vacation_df["Max Temperature (F)"] <= 80) & (new_vacation_df["Max Temperature (F)"] > 70) 
                           & (new_vacation_df["Wind Speed (mph)"] < 10) & ( new_vacation_df["Cloudiness (%)"] == 0)]

ideal_weather.head()

            City  Cloudiness (%)  Max Temperature (F)  Wind Speed (mph)
54      hurghada               0                75.20              5.48
64        tiznit               0                71.33              2.48
105   beni mazar               0                73.83              7.49
153   sao filipe               0                77.16              7.34
161  chitrakonda               0                77.02              1.59

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Store into variable named hotel_df.

hotel_df = pd.DataFrame(vacation_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df.head(3)

        City Country    Lat     Lng
0  fairbanks      US  64.84 -147.72
1   souillac      MU -20.52   57.52
2  busselton      AU -33.65  115.33

In [8]:
# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df.head(3)

        City Country    Lat     Lng Hotel Name
0  fairbanks      US  64.84 -147.72
1   souillac      MU -20.52   57.52
2  busselton      AU -33.65  115.33

In [9]:
# Set parameters to search for hotels with 5000 meters.

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map